/* Q1a */
.q1a {
    display: flex;
    gap: 10px;
}

/* Q1b */
.q1b {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Q1c */
.q1c {
    display: flex;
    gap: 10px;
}
.q1c > div:last-of-type,
.q1c > div:first-of-type {
    align-self: flex-end;
}

/* Q1d */
.q1d {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Q1e */
.q1e {
    display: flex;
    justify-content: space-between;

}